modules = ["nodejs-20", "web"]
run = "npm install && npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm install && npm run dev"]

[workflows]
runButton = "Start Development Server"

[[workflows.workflow]]
name = "Start Development Server"
author = 40612499
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[ports]]
localPort = 5000
externalPort = 80
